extends layout

block content
    div(class="container-fluid px-0 full-header")
        header(class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between mb-4 px-3")
            div(class="col-md-3 mb-2 mb-md-0")
                a(href="/home", class="d-inline-flex link-body-emphasis text-decoration-none my-3")
                    img(id="logo" src="https://images.steamusercontent.com/ugc/87095243496079769/37CACC7EA2772907E41A473C7B4DA121BFFA206C/?imw=512&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false")

            ul.nav.col-12.col-md-auto.justify-content-center
                li.nav-item
                    a(href="/", class="nav-link") Home
                li.nav-item
                    a(href="/articles", class="nav-link") Articles
                li.nav-item
                    a(href="/support", class="nav-link") Support Us!
                li.nav-item
                    a(href="/about", class="nav-link") About

            div(class="col-md-3 text-end")
                a(href="/login" class="btn btn-outline-primary me-2") Login
                a(href="/register" class="btn btn-primary") Sign-up

    .container.my-5
        .row
            .col-lg-8.mx-2
                // Article Header
                .article-header.mb-5
                    a(href="/articles" class="btn btn-outline-primary mb-3")
                        i(class="bi bi-arrow-left me-2")
                        | Back to Articles
                    h1(class="title-font")= article.PostTitle
                    .article-meta.d-flex.align-items-center.gap-3.mb-4(style="color: #B2B1B9;")
                        span
                            i(class="bi bi-person-circle me-1")
                            | Post Author: #{article.PostAuthor || 'Witcher Archives'}

        .row
            .col-lg-9.px-5
                // Article Content
                article(class="article-content w-100")
                    !{article.PostBody}
            .col-lg-3.px-5
                // Featured Image
                if article.PostImageLink
                    img(src=article.PostImageLink alt=article.title class="item-photo rounded mb-4 shadow")

    p.lead.mx-5
        span Tags:
        - for (let i=0; i<tags.length; i++)
            - const tag = tags[i]
            - if (i < tags.length - 1)
                span  #{tag.TagName},
            - else
                span  #{tag.TagName}
